@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

#lwt {
  position: relative;
  overflow: hidden;
}

#lynx {
  display: block;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#lynx::after {
  content: "LET'S WORK TOGETHER!";
  position: absolute;
  inset: 0;
  top: 60px;
  color: white;
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#lynx:hover {
  transform: translateY(-120%);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#logo {
  cursor: default;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#logo::after {
  content: "AVINASH";
  position: absolute;
  inset: 0;
  color: white;
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#logo:hover {
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* cursor styles */
.flare {
  position: fixed;
  border: 2px solid #aaaaaa;
  border-radius: 50%;
  mix-blend-mode: screen;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important ;
  -webkit-backdrop-filter: sepia(90%);
  backdrop-filter: sepia(90%);
  background-color: #0000005e;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: none !important;
}

@media screen and (max-width: 768px) {
  .flare {
    display: none;
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}
.flare.pointer {
  /* opacity: 0 !important; */
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.anim-op {
  animation: anim-op 5s cubic-bezier(0.18, -0.55, 0.265, 3.75);
}

@keyframes anim-op {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anim-lr {
  animation: anim-lr 1s cubic-bezier(0.18, -0.55, 0.265, 1.75);
}

@keyframes anim-lr {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.anim-rl {
  animation: anim-rl 1s cubic-bezier(0.18, -0.55, 0.265, 1.75);
}

@keyframes anim-rl {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}
